.completed {
  text-decoration: line-through;
  color: gainsboro;
}
.no-value {
  color: #9A9A9A;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.pointer{
  cursor: pointer;
}
