<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
          <th>#</th>
          <th>Checked</th>
          <th>ID</th>
          <th>Title</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Date</th>
          <th>App-date-pipe</th>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index" [class.completed]="task.completed">
            <td>{{i + 1}}</td>
            <td>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input completed"
                    type="checkbox"
                    value=""
                    [checked]="task.completed != null ? task.completed : false"
                    (click)="switchTaskCompleted(task)"
                  >
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </td>
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td [class.no-value]="task.category == null">{{task.category != null ? task.category.title : 'no category'}}</td>
            <td [class.no-value]="task.priority == null">{{task.priority ? task.priority.title : 'no priority'}}</td>
            <td [class.no-value]="task.date == null">{{task.date ? (task.date | date : 'medium') : 'no date'}}</td>
            <app-date-pipe></app-date-pipe>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
